.landing {
    background: url('../assets/bg2.jpg') no-repeat center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.midbox {
    text-align: center;
    font-weight: bold;
    align-items: center;
    color: #fff;
    z-index: 2;
    font-size: 8em;
    grid-row: 5;
    grid-column: 2/12;
}

.ontext{
    background: linear-gradient(to bottom, rgba(200,10,10,0), rgb(255, 255, 0)),url('../assets/firepolygons.jpg');
    background-attachment: fixed;
    background-size: contain;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text {
    position: relative;
    top: -2.5em;
    left: -3.4em;
    font-size: 1.1em;
    z-index: 2;
}

.word {
    position: absolute;
    opacity: 0; 
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {transform: rotateX(-90deg);}

.letter.in {
transform: rotateX(0deg);
transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {color: #8e44ad;}
.belize {color: #2980b9;}
.pomegranate {color: #c0392b;}
.green {color: #16a085;}
.midnight {color: #2c3e50;}

.bood {
    overflow: visible;
    margin-top: 10px;
    font-size: larger;
    text-align: justify;
    background-image: repeating-linear-gradient(to bottom right, #060706, #fff234 );
    color: #233138;
}

.imgb {
    grid-column: 2/8;
    grid-row: 1/2;
    margin-bottom: 10%;
}

.imgb img {
    max-width: 100%;
    opacity: 0.7;
    filter: blur(1.5px);
    box-shadow: 4px 4px 8px 8px #ec8a0a;
    border: groove 2px 2px 2px 2px;
}

.imgb img:hover {
    filter: none;
    cursor: pointer;
    opacity: 1;
}

.bood .desc {
    grid-column: 2/12;
    grid-row: 2;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    border: 15px outset #ec8a0a;
    padding: 10px;
    margin: 20px;
}

.spcs {
    grid-column: 9/12;
    grid-row: 1/2;
    width: fit-content;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.spcs #det {
    font-family: Arial, Helvetica, sans-serif;
}