@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/* BASE AND NAV */
* {
      box-sizing: border-box;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
    }

    body {
          z-index: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
	position: relative;
	overflow-y: scroll;
	scroll-snap-type: y mandatory
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

section {
      z-index: 1;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(7, 1fr);
      scroll-snap-align: start;
      overflow-x: hidden;
}

nav {
      z-index: 5;
	width: 100%;
      height: 50px;
      position: fixed;
}
    
    .nav {
      backdrop-filter: blur(2em);
      -webkit-backdrop-filter: blur(2em);
      height: 50px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
    }
    
    .nav > .nav-header {
      display: inline;
    }
    
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      color: #fff;
      padding: 10px 10px 10px 10px;
    }
    
    .nav > .nav-btn {
      display: none;
    }
    
    .nav > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
    }
    
    .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .nav > #nav-check {
      display: none;
    }
    
    @media (max-width:600px) {
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
    }

/* LANDING */

.aftermovie {
      grid-row: 1/7;
      grid-column: 1/12;
      z-index: 1;
      right: 0;
      bottom: 0;
      min-width: 99vw; 
      min-height: 100vh;
      overflow-x: hidden;
}

.onvid {
      text-align: center;
      font-weight: bold;
      align-items: center;
      text-shadow: 0 0 0.5em black;
      color: #fff;
      z-index: 2;
}

.title {
      font-size: 6em;
      grid-row: 4;
      grid-column: 2/12;
}

.subtitle {
      font-size: 3em;
      grid-row: 5;
      grid-column: 2/12;
}

.about {
      background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("https://universe.bits-pilani.ac.in/Uploads/Goa/goamechanicalengineeringadmin/Microsections/2018-4-11--1-23-1-89_21314603_1408792549237243_3320008125616975328_n.jpg");
      background-size:cover;
}

.abtmid {
  grid-column: 2/12;
  grid-row: 3;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.hometext {
      color: white;
      justify-content: center;
      font-size: 1.5em;
      line-height: 2em;
      font-weight: 100;
}

.homehead {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  line-height: 1em;
  color: yellow;
  font-weight: 400;
}
