section {
    overflow-x: hidden;
}

.aftermovie {
      grid-row: 1/7;
      grid-column: 1/12;
      z-index: 1;
      right: 0;
      bottom: 0;
      min-width: 99vw; 
      min-height: 100vh;
      overflow-x: hidden;
}

.onvid {
      text-align: center;
      font-weight: bold;
      align-items: center;
      text-shadow: 0 0 0.5em black;
      z-index: 2;
}

.title {
      font-size: 6em;
      grid-row: 4;
      grid-column: 2/12;
}

.subtitle {
      font-size: 3em;
      grid-row: 5;
      grid-column: 2/12;
}


.header{
    width: 100%;
    height: 90px;
    background-color: orangered;
    display: block;
 
}
.header img{
    float:right;
    height:100%;
    width:120px;
}

.insideheader{
    width:500px;
    height: 100%;
    display: block;
    background-color: black;
margin:auto;
}
.infocontainer{
    text-align: center;
    font-weight: bolder;
    color: wheat;
    padding-top: 7px;
    font-size: large;
    line-height: 1.8em;
  
}
.infocontainer span{
    font-weight: 500;
    color: white;
}
.mains2{
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1em;
    grid-gap: 1em;
}

.mains3{
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1em;
    grid-gap: 0.5em;
}
.mains4{
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 1em;
    grid-gap: 0.3em;
}